<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tech Blog</title>
    <link rel="stylesheet" href="/css/jass.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" />
</head>
<header>
        <div class="container">
            <h1 class="logo">Tech Blog</h1>
            <nav>
                <ul>
                    <li><a href="/">Homepage</a></li>
                    <li><a href="/dashboard">Dashboard</a></li>
                    {{#if loggedIn}}
                        <li><a href="#" id="logout">Logout</a></li>
                    {{else}}
                        <li><a href="/login" class="signupBtn">Login</a></li>
                        <li><a href="/login" class="signupBtn">Signup</a></li>
                    {{/if}}
                </ul>
            </nav>
        </div>
    </header>
    
    <main>

    {{{body}}}
</main>
    

<footer>
        <div class="container">
            <p>&copy; 2024 Tech Blog</p>
        </div>
    </footer>
<script src="./js/login.js"></script>
<script src="./js/logout.js"></script>
<script src="./js/posts.js"></script>
</html>
